<nav class="navbar navbar-dark bg-primary m-4">
  <img
  width="100"
  alt="Angular Logo"
  src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
/>
  <a class="navbar-brand m-3" href="/"> Angular SIMPLE CRUD</a>
</nav>
<div class="container">
  <div class="row">
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action"
        [class.active]="empleado == selectedEmpleado"
        (click)="openForEdit(empleado)"
        *ngFor="let empleado of empleadoArray"
      >
        <span class="badge bg-secondary"> {{ empleado.id }}</span>
        {{ empleado.name }} - {{ empleado.country }}
      </li>
    </ul>
    <div class="card mt-4">
      <div class="card-body">
        <h2>Ingrese un nuevo nombre y país</h2>
        <div class="form-group">
          <input
            type="text"
            placeholder="Inserte un nombre"
            class="form-control"
            [(ngModel)]="selectedEmpleado.name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            placeholder="Inserte un pais"
            class="form-control mt-2"
            [(ngModel)]="selectedEmpleado.country"
          />
        </div>
        <button class="btn btn-primary mt-4" (click)="addOrEdit()">
          Agregar/Editar
        </button>
        <button
          *ngIf="selectedEmpleado.id !== 0"
          class="btn btn-danger mt-4 ms-2"
          (click)="delete()"
        >
          Borrar
        </button>
      </div>
    </div>
  </div>
</div>
